body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f6f8;
    color: #333;
}

/* Navigation */

nav {
    background-color: #111827;
    padding: 18px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    color: #60a5fa;
}

/* Sections */

section {
    max-width: 900px;
    margin: 30px auto;
    padding: 35px;
    background-color: white;
    border-radius: 12px;
}

#home {
    text-align: center;
    background-color: #e0f2fe;
}

#home h1 {
    font-size: 42px;
    margin-bottom: 10px;
}

#home h2 {
    color: #2563eb;
}

h2 {
    color: #2563eb;
}

h3 {
    color: #374151;
}

p {
    line-height: 1.7;
    font-size: 17px;
}
